.contacts {
  padding: 37px $padding-desktop 38px;

  @include vp-1199 {
    padding: 30px $padding-tablet 30px;
  }

  @include vp-767 {
    padding: 30px $padding-mobile 30px;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-1199 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.contacts__social {
  width: 325px;

  @include vp-1199 {
    width: 100%;
    margin-bottom: 25px;
  }
}

.contacts__address {
  margin-top: 15px;
  line-height: 1.16;

  address {
    font-style: normal;
  }

  @include vp-1199 {
    margin-bottom: 25px;
  }
}

.contacts__back-call {
  margin-top: 2px;

  @include vp-767 {
    align-items: center;
  }
}
